node_modules/
package-lock.json
/pkg
/*.tgz
/dist
DEBUG-*
/.yarn
/.vscode
/.idea/*
!/.idea/inspectionProfiles/
/.idea/inspectionProfiles/*
!/.idea/inspectionProfiles/Project_Default.xml
!/.idea/inspectionProfiles/profiles_settings.xml
!/.idea/scopes/
/.idea/scopes/*
!/.idea/scopes/Companion_Tests.xml

.venv/
__pycache__/
*.pyc
